<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Random Words API</title>
</head>
<body>
  <h1>Random Words API</h1>

  <dl>
    <dt>Random spanish word</dt>
    <dd>
      <p>
        <code>~/api/v1/spanishWords/random</code>
      </p>
      <p>
        Accepts query params <code>minLength</code> and <code>maxLength</code>. For instance, <code>~/api/v1/spanishWords/random?minLength=3&maxlength=7</code> return a random spanish words with a length between 3 and 7, both inclusive.
      </p>
    </dd>
  </dl>
</body>
</html>